<aside class="contacts">
  <p><b>מוקד זימון תורים 24/7:</b> טל' 03-5117843</p>
  <p><b>מוקד ניתוחים (א'-ה' 8:00-16:00):</b> טל' 08-9154090</p>
  <p><b>אימייל</b> - kardoshclinic@gmail.com</p>
  <p>153-89154090 <b>:Fax2mail</b></p>
  <p>או מלאו פרטיכם בטופס בראש העמוד.</p>
</aside>


