<!-- {{ printf "%#v" .Params.class }} -->
<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/style.css" >
  <meta name="viewport" content="width=device-width" />

</head>
<body dir=rtl class="{{ print .Params.class }}">
  <!-- Google Code for Remarketing Tag -->
  <!--------------------------------------------------
  Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
  --------------------------------------------------->
  <script type="text/javascript">
/* <![CDATA[ */
  var google_conversion_id = 932412508;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/932412508/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>
<header>
  <nav>
    <a class=logo href="/">דף בית</a>
    <a class=link href="/hachlafat-yarech/">החלפת ירך</a>
    <a class=link href="/hachlafat-berech/">החלפת ברך</a>
    <a class=link href="/mirpaot">המרפאות שלנו</a>
    <a class=link href="/contact">צור קשר</a>
    <a class=phone href="tel:{{.Site.Params.Phone}}">מוקד זימון תורים 24/7 <b>{{.Site.Params.Phone}}</b></a>
  </nav>
</header>
