{{ partial "header" . }}
<section class="main">
  <figure class=topimage><img src="/img/{{ .Params.topimg }}" ><figcaption>{{ .Site.Params.topimagetitle }}</figcaption></figure>
  <main>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ partial "contacts.html" . }}
  </main>
  {{ partial "footer.html" . }}
</section>
