<form id="form" action="/send.php" method="POST"  >
  <input required type="text"  name="lname" placeholder="שם מלא">
  <input required type="email" name="liame" placeholder="איימייל">
  <input required type="text"  name="tel" placeholder="טלפון">
  <input type="email"  name="email" placeholder="טלפון" style="display: none;">
  <textarea name="message" placeholder="סיבת הפניה" ></textarea>
  <button>שלח</button>
</form>
  
