@import 'compass/reset';
$_blue: #485483;
$_gree: #306c5a;
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #e5e5f3;
}
header {
  background: #fff;
}
aside.form h2,
h1 {
  color: $_blue;
  font-weight: bold;
}
h1 {
  font-size: 25px;
  font-size: 1.6rem;
}
aside.form h2 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1;
  margin-bottom: .5em;
}
nav {
  display: block;
  a {
    vertical-align:middle ;
    display: inline-block;
    text-decoration: none;
  }
  .link {
    font-weight: bold;
    color: $_blue;
    padding: 0 1em;
    &:hover {
      color: #306c5a;
    }
  }
  .logo {
    text-indent: -1000px;
    overflow: hidden;
    background: inline-image("logo.png") 0 0 no-repeat;
    background-size: 100%;
  }
  .phone {
    height: 50px;
    background:inline-image("phone-sm.png") 10px 50% no-repeat #306c5a;
    position: relative;
    color: #fff;
    padding: 0 17px 0 40px;
    box-sizing: border-box;
    line-height: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 100px;
  }
}
.main {
  text-align: center;
  > * { 
  text-align: initial; 
  text-align: right; 
  vertical-align: top;
  }
}
main {
  width: 552px;
  display: inline-block;
  padding-left: 40px;
}
aside.form {
  width: 252px;
  display: inline-block;
}
figure.topimage {
  position: relative;
  margin-bottom: 20px;
  img { display: block; }
  figcaption {
    text-indent: -1000px;
    overflow: hidden;
    background-color: rgba(44,64,124,.5);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 314px;
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0px;
      background: inline-image("figcaption.png") 100% 50% no-repeat;
      height: 100%;
      width: 100%;
    }
  }
}
main {
  margin: 0 40px 0 0;
  >p {
    margin: 0 0 1.3em 0;
  }
  > h2 {
    font-size: 1.3em;
    font-weight: 700;
  }
  > h3 {
    font-size: 110%;
    font-weight: bold;
  }
}
aside.contacts {
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
  margin: 20px 0;
  color: #fff;
  font-weight: bold;
  background-color:  #306c5a;
  position: relative;
  padding-right: 120px;
  white-space: nowrap;
  b {
    text-decoration: underline;
  }
  &:before {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -44px;
    background: inline-image("phone-big.png");
    width: 88px;
    height: 88px;
  }
}
form {
  input, textarea {
    font-family:  Arial;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5) inset;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 40px;
    min-height: 40px;
    color: #000;
    padding: 0 7px 0 0;
    width: 100%;
    margin: 0 0 20px 0;
    outline: none;
  }
  button {
    background: #f6f6f6;
    height: 40px;
    padding: 0 1em;
    font-size: 1.5rem;
    color: $_gree;
    font-weight: bold;
    background: #f6f6f6;
    border: 2px solid $_gree;
    border-radius: 2px;
    float: left;
  }
  textarea {
    line-height: 1.1;
    overflow: hidden;
    height: 85px;
  }
}
.contacts {
  main {
    display: block;
    width: 840px;
    margin: 0 auto;
  }
  form {
  }
}
.home {
  main {
    width: 460px;
  }
  p + ul {
    padding: 1em;
    font-weight: bold;
    background: rgba(255,255,255,.5);
    border-radius: 16px;
    display: inline-block;
    li {
      list-style: disc inside;
    }
    li:first-child {
      list-style: none;
    }
  }
}
.main > aside figure,
main figure {
  display: block;
  img {
    border: $_gree 1px solid;
  }
  figcaption {
    font-size: 14px;
    font-size: .8rem;
    background-color: rgba(#306c5a, .15);
    padding: 10px;
  }
}
main figure {
  margin: 15px 0;
  display: table;
  width: 80%;
  img, figcaption {
    vertical-align: top;
    display: table-cell;
  }
  figcaption {
    height: 100%;
  }
}
.main > aside {
  figure {
    margin: 20px 0 0;
    float: right;
    &:nth-of-type(2) {
      width: 153px;
    }
    img {
      margin: 0;
      display: block;
    }
    figcaption {
      height: 100px;
    }
  }
}
.mirpaot {
  main {
    width: 514px;
    p>img {
      float: left;
    }
    a>img {
      margin-top: 1em;
      border: 2px solid #fff;
      border-radius: 2px;
      box-shadow: 0 3px 3px 0 rgba(0,0,0,.5) inset;
    }
    h2 {
      font-size: 1.5rem;
      color: $_gree;
      font-weight: bold;
      margin-top: 3em;
    }
  }
}
@media screen and (min-width: 1024px) {
  header nav, section.main {
    width: 1024px;
    margin: 0 auto;
  }
  .logo {
    width: 150px;
    height: 103px;
  }
  .contacts main {
    form {
      margin: 10px 0;
      padding-left: 560px;
      min-height: 318px;
      background: url(/img/contacts-form.jpg) 0 0 no-repeat;
    }
  }
}
@media screen and (max-width: 1023px) {
  .logo {
    width: 50px;
    height: 33px;
  }
  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .7em;
    a.phone {
      box-shadow: 0 0 10px 0 #000;
      font-size: 1rem;
      height: 2em;
      line-height: 2em;
      white-space: nowrap;
      margin: 10px auto 0;
      z-index: 100;
    }
    a.link {
      padding: 0 .5em;
    }
  }
  figure.topimage {
    height: 150px;
    overflow: hidden;
    figcaption {
      width: 50%;
      max-width: 200px;
      &:before {
        top: 0;
        transform: none;
        background-size: auto 100%;
        bottom: 0;
      }
    }
    img {
      height: auto;
      width: 100%;
      min-height: 150px;
      position: absolute;
    }
  }
  .topimage + img {
    float: right;
    margin: 0 1em 1em;
  }
  .contacts main ,
  .mirpaot main ,
  .home main ,
  main {
    margin: 0;
    padding: 0 .5em;
    width: 100%;
    box-sizing: border-box;
  }
  .contacts main {
    form {
      padding: 0;
      background: none;
    }
  }
  .mirpaot main {
    p img {
      float: none;
    }
    h2 {
      margin: 1em 0;
    }
    a img {
      width: 100%;
      height: auto;
    }
  }
  aside.contacts {
    padding: 10px;
    text-align: center;
    font-size: .85rem;
    display: block;
    &:before {
      display: none;
      margin: 0 auto;
      background-size: 100%;
      position: static;
      width: 30px;
      height: 30px;
    }
    p { 
      white-space: nowrap;
    }
  }
  aside.form {
    margin-bottom: 2em;
  }
  form button {
    width: 150px;
    margin: 0 auto;
    display: block;
    float: none;
  }
}
@media screen and (max-width: 500px) {
  header {
    nav {
      a.link {
        font-size: .7rem;
        padding: 0;
      }
      a.phone {
        font-size: .8rem;
      }
    }
  }
  figure.topimage {
    img {
      height: 100%;
      width: auto;
    }
    figcaption {
      &:before {
        background-size: 100% auto;
      }
    }
  }
  main > figure {
    background: rgba(48, 108, 90, 0.15);
    padding: 1em;
    display: inline-block;
    margin: 1em auto;
    img,figcaption {
      display: block;
      text-align: initial;
    }
    figcaption {
      background: none;
    }
  }
}
