{{range where .Data.Pages "Type" "home"}}
{{ partial "header" . }}
<section class="main">
  <figure class=topimage><img src="/img/{{ .Params.topimg }}" ><figcaption>{{ .Site.Params.topimagetitle }}</figcaption></figure>
  <img src="/img/doctor.jpg" />
  <main>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ partial "contacts.html" . }}
  </main>
  <aside class=form>
    <h2>אנא מלאו פרטיכם בטופס הבא ונחזור אליכם בהקדם<h2>
    {{ partial "form.html" .}}
  </aside>
  {{ partial "footer.html" . }}
</section>
{{ end }}
